.titleContainer > h1 {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.profilePic {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .titleContainer > h1 {
        font-family: 'Langar';
        font-size: 55px;
        margin-bottom: 10px;
        margin-top: 0;
    }
  }

